language: python

notifications:
  email: false

python:
  - "3.6"
  - "3.5"

before_install:
  - pip install pep8
  - pip install flake8

before_script:
  - "flake8 --show-source --ignore=F811,W293,W391,W292,W291 --max-line-length=79"

script:
  - pytest --doctest-modules -v
